<header>  
    <div class="container">
        <h2>Edit Profile</h2><hr><br>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-5 col-sm-offset-1 col-md-offset-2">
            <form >
              <div id="user-data">
                <div class="form-group">
                  <label for="username">First Name:</label>
                  <input type="text" id="username" class="form-control">
                </div><br>

                <div class="form-group">
                    <label for="startdate">Last Name:</label>
                    <input type="text" id="Date" class="form-control" >
                  </div><br>
                  <div class="form-group">
                    <label for="startdate">Email Address:</label>
                    <input type="text" id="Date" class="form-control" >
                  </div><br>
                  <div class="form-group">
                      <label for="startdate">Phone:</label>
                      <input type="text" id="Date" class="form-control" >
                    </div><br>
                    <div class="form-group">
                        <label for="startdate">Profile Picture:</label>
                        <input type="file" id="img" class="form-control" >
                      </div>
                </div><br>
              
                <button class="btn btn-dark" type="submit">Update</button>
                
              </form>
              
            </div>
          </div>
        </div>
      <br>
      <br></header>
        <mat-divider></mat-divider> <br>
