<header>
    <div class="container">
        <h2>Add New Position</h2><hr><br>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-5 col-sm-offset-6 col-md-offset-2">
            <form>
              <div id="user-data">
                <div class="form-group">
                  <label for="username">Postion Name:</label>
                  <input type="text" id="username" class="form-control" ngModel name="electionName"> <br> 
                  <button class="btn btn-success" type="submit">Add</button>

                </div>
              </div>                  
            </form>
          </div>
        </div>
      </div>
    <br>
</header>
<mat-divider></mat-divider> <br>

 <!-- List Table -->
 <body><br>
    <h2>Available Positions</h2><hr><br>
    <table class="table">
      <thead class="thead-light">
          <tr>
              <th>ID</th>
              <th>Position Name</th>
              <th>Action</th>
              <th></th>
    
          </tr>
      </thead>
    
      <tbody>
          <tr> 
    
              <td class="align-middle">1</td>
              <td class="align-middle">Staff Of the Year</td>
              <button class="btn btn-success" type="submit">edit</button>
              <button class="btn btn-dark" type="submit">delete</button>
    
          </tr>
    
          <tr> 
    
            <td class="align-middle">2</td>
            <td class="align-middle">Most Productive Staff</td>
            <button class="btn btn-success" type="submit">edit</button>
            <button class="btn btn-dark" type="submit">delete</button>
    
          </tr>
    
          <tr> 
    
            <td class="align-middle">3</td>
            <td class="align-middle">Most Punctual Staff</td>
            <button class="btn btn-success" type="submit">edit</button>
            <button class="btn btn-dark" type="submit">delete</button>
    
          </tr>
              
    </tbody>
    </table>   </body>

   