<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar>Signup</mat-toolbar><br>
      <form fxLayoutAlign="stretch" fxLayout="column" class="was-validated">
        <mat-form-field >
            <input matInput placeholder="First Name" required name="email" >
          </mat-form-field> 

          <mat-form-field >
            <input matInput placeholder="Last Name" required name="email" >
          </mat-form-field> 

        <mat-form-field >
          <input matInput placeholder="Email" required name="email" >
        </mat-form-field> 
 
        <mat-form-field >
            <input matInput placeholder="Telephone" required name="phone" >
          </mat-form-field> 

        <mat-form-field >
          <input matInput type="password" required placeholder="Password" name="password" >
        </mat-form-field>

        <mat-form-field >
            <input matInput type="password" required placeholder="Confirm Password" name="password" >
          </mat-form-field>
  
        <button mat-raised-button type="submit">Signup</button><br>
   
    <a class="rg" mat-list-item routerLinkActive="list-item-active" routerLink="/evote/login" >  
      Already have an account? Login
       </a> 
      </form>
      
    </mat-card>
   </div>
  
  
   <footer>
    &copy; All rights reserved 2020. W3S GHANA - Total Secured Solutions.
  </footer>